*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

h1{
    text-align: center;
    padding-top: 30px;
}

nav{
    padding: 10px;
    background-color: blue;
  
    
}

ul li {
    padding: 10px;
}

.menu {
    display: flex;
    list-style-type: none;
    gap: 20px;
    justify-content: center;
}

a{
    text-decoration: none;
    color: white;
}

.sub-menu{
    /* display: none; -> does not support smooth transition*/ 
    opacity: 0;
    visibility: hidden;
    list-style: none;
    position: absolute;
    background-color: blue;
    min-width: 190px;
    padding: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    box-shadow: 10px 10px 10px rgb(30, 3, 110);
    transform: translateY(10px);
}

.sub-menu li {
    padding: 10px;
    border-bottom: 1px solid black;
}

.menu li:hover .sub-menu, .menu li:focus-within .sub-menu{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

ul li:hover{
    background-color: rgba(15, 15, 154, 0.959);
}

@media (max-width:768px){
    .menu{
        flex-direction: column;
        align-items: center;
    }

    
}