*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.carousel{
    display: flex;
    position: relative;
    height: 60%;
    width: 50%;
    overflow: hidden;
}

.slides{
    display: flex;
    width: 300%;
    transition: transform 0.3s ease-in-out;
    animation: slide 10s infinite ease-in-out;
}

.slides img{
    width: 100%;
    border-radius: 10px;
}

@keyframes slide{
    0%,25%{
        transform: translateX(0%);
    }
    30%,55%{
        transform: translateX(-100%);
    }
    60%,85%{
        transform: translateX(-200%);
    }
    90%,100%{
        transform: translateX(0%);
    }

}
