input[type="checkbox"]{
    display: none;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    text-align: center;
}

.accordion{
    width: 50%;
    overflow: hidden;
    
}

.accordion-header{
    display: block;
    background-color: rgb(238, 209, 172);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.accordion-content{
    background-color: antiquewhite;
    padding: 0 20px;
    border-radius: 5px;
    margin-bottom: 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out, padding 0.4s ease-in-out;
}


input[type="checkbox"]:checked + .accordion-header + .accordion-content {
    max-height: 200px;
    padding: 15px;
}