input[type="radio"]{
    display: none;
}
body{
    text-align: center;
}
h2,p{
    color: white;
}
.tab-labels{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.tab-labels label{
    padding: 10px 20px;
    background-color: rgba(164, 212, 240, 0.774);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.tab-labels label:hover{
    background-color: rgb(57, 174, 242);
}

.tab-content{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content{
    position: absolute;
    background-color: rgb(57, 174, 242);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

#tab-1:checked ~ .tab-labels .label-1{
    background-color: rgb(57, 174, 242);
}

#tab-1:checked ~ .tab-content #content-1{
    opacity: 1;
    visibility: visible;
}

#tab-2:checked ~ .tab-labels .label-2{
    background-color: rgb(57, 174, 242);
}

#tab-2:checked ~ .tab-content #content-2{
    opacity: 1;
    visibility: visible;
}

#tab-3:checked ~ .tab-labels .label-3{
    background-color: rgb(57, 174, 242);
}

#tab-3:checked ~ .tab-content #content-3{
    opacity: 1;
    visibility: visible;
}


